@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  width: 177px;
  height: 40px;
  background-color: #a28788;
  color: white;
  border-radius: 12px;
}
button:hover{
     background-color: #037e8c;
     color: white;
}
a{
    color: white;
}
a:hover{
     color: #037e8c;
}
.fff{
    background-image: url(../img/fon.png);
    width: 100%;
    height: 100%;
}

.contiener{
    margin: 0 auto;
    padding: 20px 40px;
    max-width: 1440px;
}
  .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
.saa{
    background-image: url(../img/Mask\ Group\ \(6\).png);
    width: 100%;
    color: white;
}
@media (max-width:935px) {
    ul li{
        display: none;
    }
}
@media (max-width:392px) {
    .f{
        display: flex;
        flex-direction: column;
        gap:14px
    }
    .h{
        width: 150px;
        height: 35px;
    }
}
@media (max-width:659px) {
    .dd h3{
        font-size: 50px;

    }
    
}
@media (max-width:512px) {
    .fff1{
        display: flex;
        flex-direction: column;
        gap: 30px;
        
    }
    .dd h3{
        font-size: 30px;

    }
}
@media (max-width:767px) {
    .right{
        display: flex;
        flex-direction: column;
        gap:30px ;
    }
}